<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
 
 <!-- Servlet Calendrier -->
 
  <servlet>
    <servlet-name>Calendrier</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.CalendrierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AffichageSeances</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.AffichageSeancesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjoutSeance</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.AjoutSeanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RejoindreSeance</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.RejoindreSeanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuitterSeance</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.QuitterSeanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerSeance</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.CreerSeanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ElevesSeance</servlet-name>
  	<servlet-class>hei.capso.projetcapso.controllers.ElevesSeanceServlet</servlet-class>
  </servlet>

  
  <!-- Servlet Profil -->
  
  <servlet>
    <servlet-name>Profil</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.ProfilServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjoutProfil</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.AjoutProfilServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjoutGroupe</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.AjoutGroupeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RejoindreGroupe</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.RejoindreGroupeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuitterGroupe</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.QuitterGroupeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangerMDP</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.ChangerMDPServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjoutCalendrier</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.AjoutCalendrierServlet</servlet-class>
  </servlet>
  
  
  <!-- Servlet Connexion -->
  
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.ConnexionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Default</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.DefaultServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ConnexionAdmin</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.ConnexionAdminServlet</servlet-class>
  </servlet>
  
  
  <!-- Servlet Administration -->
  
  <servlet>
    <servlet-name>AdminArticle</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.AdminArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjoutMatiere</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.AjoutMatiereServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionMatiere</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.GestionMatieresServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionGroupes</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.GestionGroupesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionProfils</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.GestionProfilsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupprimerGroupe</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.SupprimerGroupeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupprimerProfil</servlet-name>
    <servlet-class>hei.capso.projetcapso.controllers.SupprimerProfilServlet</servlet-class>
  </servlet>
  
  
  <!-- Url Calendrier -->
  
  <servlet-mapping>
    <servlet-name>Calendrier</servlet-name>
    <url-pattern>/utilisateur/calendrier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AffichageSeances</servlet-name>
    <url-pattern>/utilisateur/affichageSeances</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjoutSeance</servlet-name>
    <url-pattern>/utilisateur/ajoutSeance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RejoindreSeance</servlet-name>
    <url-pattern>/utilisateur/rejoindreseance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuitterSeance</servlet-name>
    <url-pattern>/utilisateur/quitterseance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerSeance</servlet-name>
    <url-pattern>/utilisateur/creerSeance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ElevesSeance</servlet-name>
    <url-pattern>/utilisateur/elevesSeance</url-pattern>
  </servlet-mapping>
  
  <!-- Url Profil -->
  
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/utilisateur/profil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjoutProfil</servlet-name>
    <url-pattern>/ajoutProfil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjoutGroupe</servlet-name>
    <url-pattern>/utilisateur/ajoutgroupe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RejoindreGroupe</servlet-name>
    <url-pattern>/utilisateur/rejoindregroupe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuitterGroupe</servlet-name>
    <url-pattern>/utilisateur/quittergroupe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangerMDP</servlet-name>
    <url-pattern>/utilisateur/changermdp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjoutCalendrier</servlet-name>
    <url-pattern>/utilisateur/ajoutCalendrier</url-pattern>
  </servlet-mapping>
  
  <!-- Url Connexion -->
  
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Default</servlet-name>
    <url-pattern>/default</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ConnexionAdmin</servlet-name>
    <url-pattern>/connexionadmin</url-pattern>
  </servlet-mapping>
  
  <!-- Url Admin -->
  
  <servlet-mapping>
    <servlet-name>AdminArticle</servlet-name>
    <url-pattern>/admin/adminArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjoutMatiere</servlet-name>
    <url-pattern>/admin/ajoutmatiere</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionMatiere</servlet-name>
    <url-pattern>/admin/gestionmatiere</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionGroupes</servlet-name>
    <url-pattern>/admin/gestiongroupes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionProfils</servlet-name>
    <url-pattern>/admin/gestionprofils</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimerGroupe</servlet-name>
    <url-pattern>/admin/supprimergroupe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimerProfil</servlet-name>
    <url-pattern>/admin/supprimerprofil</url-pattern>
  </servlet-mapping>

 <!-- Welcome File (Redirection par default) --> 
 
  <welcome-file-list>
    <welcome-file>default</welcome-file>
  </welcome-file-list>

  <!-- Filtre -->
  
  <filter>
    <filter-name>RestrictionFilter</filter-name>
    <filter-class>hei.capso.projetcapso.filters.RestrictionFilter</filter-class>
  </filter>
  <filter>
    <filter-name>RestrictionAdminFilter</filter-name>
    <filter-class>hei.capso.projetcapso.filters.RestrictionAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilter</filter-name>
    <url-pattern>/utilisateur/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RestrictionAdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
</web-app>