@charset "utf-8";
/**** CSS Document ****/

/**Ajout Profil**/


#blockAjout{
	padding:20px 20px; 
    width:600px;
	margin:auto;
	margin-top:20px;
    z-index:100; 
}

#username
{
	margin-top: 5%;
}

a.text_form 
{	
	text-decoration: none;
	color: #26C4EC;
	padding: 3%;
	font-style: normal;
	font-size: 20px;	
}

label { 
    font-size:1.2em; 
    font-weight:normal; 
    text-align: left;
    display: block;
    margin: 5px;
} 

.bouton{
	background-color: #24afb2;
	text-align: center;
	font-family: "bariol";
	font-style: normal;
	font-weight: bold;
	font-size: 1.3em;
	color: #ffffff;
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	border:0px;
}

.inputmail{
	width: 60%;
	position: relative;
	right: 45px;;
}

#emailHei{
	display: inline-block;
	font-size: 1.2em;
}