@charset "utf-8";
/**** CSS Document ****/

/**Login**/

#blockLogin{
	padding:20px 20px; 
    float:left; 
    width:600px;
    position:absolute; 
    top:20%; 
    left:50%; 
    margin:0 0 0 -300px; 
    z-index:100; 
}
input.input
{
	padding: 5px 10px 5px 20px;
	margin: 30px 0 10px 0;
	width: 80%;
	text-align: left;
	/*border: 1px solid #ffffff;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;*/
}
.bouton{
	background-color: #24afb2;
	text-align: center;
	font-family: "bariol";
	font-style: normal;
	font-weight: bold;
	font-size: 1.3em;
	color: #ffffff;
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	border:0px;
}


a.text_form 
{	
	text-decoration: none;
	color: #24afb2;
	padding: 3%;
	font-family:"bariol";
	font-weight:bold;
	font-style:italic;
	font-size: 18px;
	position: relative;
	top: 8px;
	
}
span.erreur{
	display: block;
}

.administration{
	width:50px;
	margin: auto;
	padding-top: 570px;
}

/**Page Création de profil**/ 

#boite_1_ajout
{	position:absolute;
	background: #26C4EC;
	width:40%;
	vertical-align: middle;
	height:7%;
	font-size:25px;
	left: 30%;
	top: 8%;
	text-align: center;
	color: white;
}

#boite_2_ajout
{	position: absolute;
	background: #766F64;
	width:40%;
	height:600px;
	font-size:25px;
	left: 30%;
	top: 15%;
	text-align : center;
	color: white;
}

label
{
	margin-top: 2%;
}

fieldset.groupe
{
	position: relative;
	width: 20%;
	display: inline-block;
}

input.groupe_input
{
	width: 90%;
}