@charset "utf-8";
/**** CSS Document ****/

/**** Fonts ****/

@font-face {
    font-family: "bariol";
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "../fonts/bariol";
    src: url('../fonts/bariol_bold_italic-webfont.eot');
    src	: url('../fonts/bariol_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold_italic-webfont.woff') format('woff'),
         url('../fonts/bariol_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "bariol";
    src: url('../fonts/bariol_light-webfont.eot');
    src: url('../fonts/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_light-webfont.woff') format('woff'),
         url('../fonts/bariol_light-webfont.ttf') format('truetype'),
         url('../fonts/bariol_light-webfont.svg#bariol_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "bariol";
    src: url('../fonts/bariol_light	_italic-webfont.eot');
    src: url('../fonts/bariol_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_light_italic-webfont.woff') format('woff'),
         url('../fonts/bariol_light_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol_light_italic-webfont.svg#bariollight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/**** Body ****/
body
{
	font-family: "bariol",helvitica,sans-serif;
	font-weight: bold;
}
.titre
{
	color: #24afb2;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}

.big
{
	font-size: 2em;
}


h2{
	color: #4E3D28;
	font-size: 20px;
	padding-top: 10px;
}
.content{
	height: 800px;
}

/**** Header ****/

nav.navigation
{
	font-family: "bariol",helvitica,sans-serif;
	font-weight: bold;
	background-color: #55606e;
	width: 100%;
	padding-top:10px;	
	padding-bottom: 10px;
	font-size: 25px;
	height: 50px;
	
	
}
.centrer{
    max-width: 1000px;
    margin: auto;
}
.logo{
    float: left;
    width: 250px;
}
.onglet{
    float: right;
    padding-top: 10px;
}
ul.onglet	
{
	color : #FFFFFF;
	text-align: center;
}
nav li{
	display: inline;
	color: #FFFFFF;
	padding : 30px;

}
a
{
	text-decoration: none;
	color: white;
}
a:HOVER{
	color:#24afb2;
}
.logo img{
    display:inline-block;
}
.logo a{
    display:inline-block;
}




/**** Pop Up ***/	


.fade { 
    background:#000; 
    position:fixed; 
    width:100%; 
    height:100%; 
    filter:alpha(opacity = 80); 
    opacity:.80; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*--Transparence sous IE 8--*/
    left:0; 
    top:0; 
    z-index:12;
}		
.hideshow { 
    position:absolute; 
    width:100%; 
    height:100%; 
    top:0; 	
    left:0; 
} 
.popup_block { 
    padding:20px 20px; 
    float:left; 
    width:500px;
    position:absolute; 
    top:20%; 
    left:50%; 
    margin:0 0 0 -250px; 
    z-index:100; 
} 
#titrePopup
{
	background: #24afb2;
	vertical-align: middle;
	height:50px;
	font-size:25px;
	text-align: center;
	color: white;
	padding-top: 25px;
}
#contentPopup{
	background: #55606e;
	font-size:20px;
	color: white;
	text-align:center;
	padding-bottom: 2%;
} 
.popup_block label { 
    font-size:1.2em; 
    font-weight:normal; 
    text-align: left;
    display: block;
    margin: 5px;
} 
.input{
	width:90%;
	min-height:40px;
	margin: auto;
	text-align: center;
	background: #c1c1c1;
}
.popup_block p { 
    padding:5px 10px; 
    margin:5px 0;   
} 
.turquoise-button{
 
  padding: 0;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #24afb2;
  border: 0;
  border-bottom: 2px solid #229fa2;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #229fa2;
  box-shadow: inset 0 -2px #229fa2;
  
  
  width: 100px;
  height: 35px;
  margin:auto;
  margin-top: 5px
}
.boutons{
	margin-top: 20px;
}
	


/*** Footer ***/

.footer {
	position:relative;
	width:100%;
	height:40px;
	background: #4ebec0;
	text-align: center;
	padding-top: 10px;
	margin-top: 70px;
}
.text_footer{
	color: #FFF;
}






/**Style gestionmatiere**/ 

.ajout_matiere
{
	position: absolute;
	width : 200px;
	left: 60%;
	Top:15%;
}

/**Style gestionGroupes**/

div.cadre
{
	width:80%;
	height:500px;
	margin:auto;
	margin-top:50px;
	padding-top:30px;
	border : 5px;
	border-style:solid;;
	border-color:#24afb2;
	overflow: auto;

}

table.tableau_gestion
{ 
	width: 90%; 
	border-collapse: collapse; 
	border-spacing: 0;
	margin: auto;
} 
td.gestion, th.gestion
{ 
	border: 1px solid solid transparent;
	height: 30px; 
	transition: all 0.3s; 
}

th.gestion {
background: #DFDFDF;
font-weight: bold;
}

td.gestion {
background: #FAFAFA;
text-align: center;
}

tr.gestion:nth-child(even) td 
{ 
	background: #F1F1F1; 
}   
tr.gestion:nth-child(odd) td 
{ 
	background: #FEFEFE; 
} 

